body {
	background: #ffffff;	
	background-image: url('');
	background-size: cover;
}

.order-finished .order-finished-message {
    padding:50px 50px 30px;
}

.order-finished-message .title p {
    margin: 24px 0 26px;
}

.btn-ext-continue-shopping {
    background-color: #002e6d !important;
    border-color: #002e6d !important;
}

@media (min-width: 768px) {
 .order-finished-message .content:after {
    content:url(https://cdn.mycorreosecommerce.com/uploads/comandia_correostienda/t/proceso-pedido.png);
    margin:0 auto;
    display: block;
 }
 
 .container .jumbotron{
     background-color: #ffffff;
 }
 .container .jumbotron:after{
    content:url(https://cdn-tc.mycorreosecommerce.com/uploads/comandia_correostienda/t/plug-in-desktop.png);
    
 }
 .container .jumbotron p{
     margin-bottom:26px;
 }
}

.order-finished-message .content p {
    margin-bottom: 40px;
   /*display:none;*/
}

@media (max-width: 767px) {
  .order-finished-message .content:after {
    content:url(https://cdn-tc.mycorreosecommerce.com/uploads/comandia_cor-1-pretiendantc/t/proceso-pedido-mobile.png);
    margin:0 auto;
    display: block;
  }
  
  .container .jumbotron:after{
    content:url(https://cdn-tc.mycorreosecommerce.com/uploads/comandia_correostienda/t/plug-in-mobile.png);
    
 }
 .container .jumbotron{
     background-color: #ffffff;
 }
}

.identification-content .identification-guest{
    display:none !important;
}

/************* Cambio logos payments sin Paypal en checkout  ****************/

/*.checkout-payment-method-content .custom-control-label img {
    display: none;
}

.checkout-payment-method-content .payment-method-description:before {
    content: url(https://cdn-tc.mycorreosecommerce.com/uploads/comandia_correostienda/t/payment-tpv-correos-.png);
    position: absolute;
    margin-top: -48px;
}

.checkout-payment-method-content .payment-method-description {
    margin-top: 23px;
}*/