.ogilvy-input {
    border: 0;
    outline: 0;
    display: block;
    background: none;
    width: 100%;
    text-align: center;
}

.ogilvy-nopadding {
    padding: 0 !important;
}

.ogilvy-body .ogilvy-header .ogilvy-logosuperior {
    float: left !important;
    height: 64px;
    width: 110px;
    margin-top: -5px;
    margin-left: 1px;
    position: relative;
}

.ogilvy-nopadding-right {
    padding-right: 0 !important;
}

.ogilvy-bg-amarillo {
    background-color: #f3d132;
}

.ogilvy-nomargen {
    margin: -1px;
}

.ogilvy-espacioseccion {
    margin-top: 16px;
}

.ogilvy-espacioboton {
    margin-top: 50px !important;
}

.ogilvy-espaciotitulo {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.ogilvy-espacio-titular {
    margin-bottom: 50px;
}

.ogilvy-negrita {
    font-weight: 700;
}

.ogilvy-msgerror {
    display: none;
    margin: 10px 0;
}

.ogilvy-clearfix {
    clear: both;
}

.ogilvy-check-bien {
    color: #c9f12b;
}

.ogilvy-imageninfo {
    width: 16px;
    height: auto;
}

.ogilvy-imagenpp {
    width: 17px;
    height: auto;
}

.ogilvy-imagentarjeta {
    width: 16px;
    height: auto;
}

.ogilvy-imagenpago {
    width: 16px;
    height: auto;
}

.ogilvy-cont-bot01 {
    margin-top: 150px;
}

.ogilvy-body {
    font-family: "pt-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 20px 30px 20px;
}

    .ogilvy-body .ogilvy-titular {
        font-size: 20px;
        color: #313337;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 16px;
    }

    .ogilvy-body .ogilvy-subtitular {
        font-size: 16px;
        color: #7a7a7a;
        text-align: center;
        font-weight: 400;
        padding-top: 16px;
    }

        .ogilvy-body .ogilvy-subtitular.ogilvy-subtitular-grande {
            font-size: 18px;
            text-transform: uppercase;
            margin-top: 40px;
            margin-bottom: 2%;
        }

    .ogilvy-body .ogilvy-botonrelleno {
        text-align: center;
        background-color: #f3d132;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        /*padding-top: 15px;
    padding-bottom: 15px;*/
        cursor: pointer;
        /*margin: 20px 0;*/
        margin-top: 20px;
    }

    .ogilvy-body .ogilvy-botonborder {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid #f3d132;
        /*margin: 20px 0;*/
        margin-top: 20px;
    }

    .ogilvy-body .ogilvy-botondisabled {
        background-color: #e2e2e3;
        cursor: default;
    }

    .ogilvy-body .ogilvy-iconoinfo {
        margin-top: 31px;
        margin-left: 0px;
        cursor: pointer;
    }

    .ogilvy-body .ogilvy-rolli:hover + .ogilvy-cajacontainer .ogilvy-cajainfo {
        display: block;
    }

    .ogilvy-body .ogilvy-caja.ogilvy-infobg:hover + .ogilvy-arrow_box {
        display: block;
    }

    .ogilvy-body .ogilvy-cajainfo {
        background: #313337;
        color: white;
        padding: 24px;
        font-size: 13px;
        text-align: center;
        /*margin-top: 15px;*/
        margin-top: -10px;
        display: none;
    }

    .ogilvy-body .ogilvy-cajainfo2 {
        margin-top: 0px;
        position: absolute;
        top: 40px;
        z-index: 1;
        width: 90%;
    }

    .ogilvy-body .ogilvy-cajainfo2-multi {
        margin-top: 0px;
        position: absolute;
        top: 40px;
        z-index: 1;
        width: 100%;
    }

    .ogilvy-body .ogilvy-info-tarjeta {
        position: relative;
        top: 0;
    }

    .ogilvy-body .ogilvy-importe {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        padding-right: 25px;
        text-transform: uppercase;
    }

    .ogilvy-body .ogilvy-mediodepago {
        border-top: 1px solid #e2e2e3;
        border-bottom: 1px solid #e2e2e3;
        height: 55px;
        font-size: 16px;
        padding-top: 14px;
        cursor: pointer;
        background: none;
    }

        .ogilvy-body .ogilvy-mediodepago .ogilvy-iconomediodepago {
            float: left;
            padding: 0 27px;
            padding-bottom: 15px;
            padding-top: 15px;
        }

        .ogilvy-body .ogilvy-mediodepago.ogilvy-mediodepago-selecionado {
            background: #f3d132 no-repeat right center;
        }

    .ogilvy-body .ogilvy-seleccionpago > div > .ogilvy-mediodepago:nth-child(2) {
        border-top: none;
    }

    .ogilvy-body .ogilvy-mediodepago-msgerror {
        padding: 34px 0;
    }

    .ogilvy-body .ogilvy-metodo {
        font-size: 18px;
        font-weight: 700;
        display: table-row;
        margin: 10px auto 50px auto;
    }

        .ogilvy-body .ogilvy-metodo .ogilvy-iconomediodepago {
            float: left;
        }

        .ogilvy-body .ogilvy-metodo .ogilvy-textomediodepago {
            float: left;
            padding-top: 2px;
            padding-left: 10px;
        }

    .ogilvy-body .ogilvy-header {
        height: 60px;
    }

        .ogilvy-body .ogilvy-header .ogilvy-logosuperior {
            height: auto;
            width: 50px;
            padding-top: 14px;
        }

        .ogilvy-body .ogilvy-header .ogilvy-languajes {
            float: right !important;
            align-content: flex-end;
            height: auto;
            width: 130px;
            padding-top: 15px;
            position: relative;
        }

.ogilvy-languajes .ogilvy-english {
    text-align: left;
    height: auto;
    padding-top: 14px;
    position: relative;
}

.ogilvy-languajes .ogilvy-spanish {
    text-align: left;
    height: auto;
    padding-top: 14px;
    position: relative;
}

.ogilvy-body .ogilvy-paso-detalle .ogilvy-titular {
    margin: 40px 0;
}

.ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-normal {
    font-size: 16px;
    border-top: 1px solid #e2e2e3;
    padding: 12px 0;
}

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-normal .ogilvy-texto-modulo-grande {
        font-size: 18px;
        color: #7a7a7a;
    }

.ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha {
    font-size: 16px;
    /*border: 1px solid $gris-claro;*/
    padding: 0;
    /*height: 50px;*/
}

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha .ogilvy-texto-modulo-grande {
        font-size: 18px;
        color: #7a7a7a;
    }

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha .ogilvy-caja {
        height: 50px;
        border: 1px solid #e2e2e3;
        padding-top: 10px;
        text-align: left;
        padding-left: 15px;
    }

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha .ogilvy-caja2 {
        height: 50px;
        border: 1px solid #e2e2e3;
        padding-top: 10px;
        text-align: center;
        padding-left: 15px;
    }

.ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-especial .ogilvy-texto-modulo {
    padding-top: 13px;
}

.ogilvy-izda {
    padding-right: 0;
}

.ogilvy-dcha {
    padding-left: 0;
}

.ogilvy-pending {
    color: #e2e2e3;
}

.ogilvy-infobg {
    cursor: pointer;
    background: url(../Ilion/images/ogilvy-icono-info.png) no-repeat 100% center;
    background-size: 20px 20px;
}

.ogilvy-modulomixto {
    border-top: 1px solid #e2e2e3;
    border-bottom: 1px solid #e2e2e3;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .ogilvy-modulomixto img {
        margin-right: 5px;
        margin-left: -35px;
        width: 22px;
    }

    .ogilvy-modulomixto .ogilvy-textomixto1 {
        font-size: 16px;
        text-transform: uppercase;
    }

    .ogilvy-modulomixto .ogilvy-textomixto2 {
        font-size: 18px;
        font-weight: 700;
    }

.ogilvy-textomixto2:focus {
    color: #e2e2e3;
}

.ogilvy-select select {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../Ilion/images/ogilvy-flecha.png) no-repeat 100% center;
    width: 100%;
    text-indent: 0.01px;
    text-overflow: "";
    color: #313337;
    padding: 5px;
    outline: none;
    height: 50px;
    border: 1px solid #e2e2e3 !important;
    /*box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);*/
    padding-right: 0;
}

    .ogilvy-select select.black {
        background-color: #000;
    }

    .ogilvy-select select.option3 {
        /*border-radius: 10px 0;*/
    }


@media (max-width: 294px) {
    .addMarginLeft {
        margin-right: 45px;
    }
}

@media (min-width: 294px) {
    .addMarginLeft {
        margin-right: 60px;
    }
}

@media (min-width: 320px) {
    .addMarginLeft {
        margin-right: 80px;
    }
}

@media (min-width: 340px) {
    .addMarginLeft {
        margin-right: 105px;
    }
}

@media (min-width: 400px) {
    .addMarginLeft {
        margin-right: 135px;
    }
}

@media (min-width: 460px) {
    .addMarginLeft {
        margin-right: 160px;
    }
}

@media (min-width: 768px) {
    .ogilvy-imageninfo {
        width: 20px;
        height: auto;
    }

    .ogilvy-imagenpp {
        width: 18px;
        height: auto;
    }

    .ogilvy-imagentarjeta {
        width: 20px;
        height: auto;
    }

    .ogilvy-imagenpago {
        width: 19px;
        height: auto;
    }

    .ogilvy-body .ogilvy-iconoinfo {
        margin-left: -15px;
    }

    .ogilvy-body .ogilvy-header {
        text-align: left;
    }

    .ogilvy-body .ogilvy-cajainfo-espacio {
        margin-top: 5px;
    }

    .ogilvy-arrow_box {
        position: relative;
        /*max-width: 290px;*/
    }

    .ogilvy-modulomixto img {
        margin-left: 0;
        width: 20px;
        height: auto;
    }

    .ogilvy-modulomixto .ogilvy-textomixto1 {
        text-align: left;
    }

    .ogilvy-modulomixto .ogilvy-textomixto2 {
        text-align: right !important;
    }

    .pagos-mixtos {
        position: absolute;
        top: -10%;
        left: 50%;
    }

    .addMarginLeft {
        margin-right: 0px;
    }
}

@media (min-width: 992px) {
    .ogilvy-body .ogilvy-importe {
        text-align: right;
        padding-right: 0;
    }

    .ogilvy-body .ogilvy-importe2 {
        text-align: center;
        padding-right: 0;
    }

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha .ogilvy-texto-modulo {
        padding-right: 0;
        text-align: right;
    }

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha .ogilvy-texto-modulo-grande {
        /*padding-left: 0;*/
        padding: 0;
        text-align: right;
    }

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha .ogilvy-caja {
        text-align: left;
    }

    .ogilvy-body .ogilvy-paso-detalle .ogilvy-modulodetalle-derecha .ogilvy-caja2 {
        text-align: right;
        padding-right: 5px;
    }

    .ogilvy-body .ogilvy-arrow_box:after {
        /*left: 214px;*/
        left: 30px;
        border-width: 30px;
    }

    .ogilvy-body .ogilvy-arrow_box2:after {
        left: 30px;
        border-width: 30px;
    }

    .ogilvy-body .ogilvy-cajainfo2 {
        position: absolute;
        z-index: 1;
        width: 278px;
        top: 45px;
    }

    .ogilvy-body .ogilvy-cajainfo2-multi {
        width: 311px;
    }

    .ogilvy-body .ogilvy-cajainfo2-retry-multi {
        position: absolute;
        z-index: 1;
        width: 278px;
        top: 45px;
    }

    .ogilvy-select select {
        padding-left: 24px;
    }

    .ogilvy-arrow_box:after {
        top: -34px;
        left: 30px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(49, 51, 55, 0);
        border-bottom-color: #313337;
        border-width: 24px;
        margin-left: -30px;
    }

    .addMarginLeft {
        margin-right: 0px;
    }
}

@media (min-width: 1200px) {
    .ogilvy-body .ogilvy-limitarboton {
        width: 220px;
        margin: 0 auto;
    }

    .ogilvy-body .ogilvy-arrow_box2:after {
        left: 30px;
        border-width: 30px;
    }

    .addMarginLeft {
        margin-right: 0px;
    }

    .inputMultiMargin {
        margin-left: 31px;
    }

    .ogilvy-body .ogilvy-cajainfo2-retry-multi {
        width: 276px;
    }
}
/*********************************************************************** ANIMACIONES *********************************************/
/* Sweep To Bottom */
.ogilvy-Sweep {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.01s;
    transition-duration: 0.01s;
}

    .ogilvy-Sweep:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #244172;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .ogilvy-Sweep:hover,
    .ogilvy-Sweep:focus,
    .ogilvy-Sweep:active {
        color: white;
    }

        .ogilvy-Sweep:hover:before,
        .ogilvy-Sweep:focus:before,
        .ogilvy-Sweep:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }

.ogilvy-border-fade {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 1px #f3d132, 0 0 1px transparent;
}

    .ogilvy-border-fade:hover,
    .ogilvy-border-fade:focus,
    .ogilvy-border-fade:active {
        box-shadow: inset 0 0 0 2px #f3d132, 0 0 1px transparent;
    }

.table-not-borbers {
    rules: none;
    border: 0;
}

.ogilvy-body .ogilvy-botonrelleno input {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.ogilvy-body .ogilvy-botonborder input {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.relleno-tabla {
    height: 55px;
    padding-top: 16px;
}

.label-relleno {
    display: table-cell;
    height: 54px;
    width: 270px;
    cursor: pointer;
    position: relative;
}

    .label-relleno input {
        visibility: hidden;
    }

.ogilvy-mediodepago.ogilvy-mediodepago-selecionado .label-relleno {
    background: #f3d132 url("../Ilion/images/ogilvy-iconotick.png") no-repeat right center;
    min-width: 40px;
}

.div_relleno {
    padding-bottom: 15px;
    padding-top: 15px;
}

.submarca_identidad {
    color: #4c9fdc;
    margin-left: 1.3%;
}

.ogilvy-bg-azul {
    background-color: #4c9fdc;
}

.ogilvy-bg-naranja {
    background-color: #da9133;
}

.ogilvy-bg-verde {
    background-color: #74cd80;
}

.ogilvy-bg-amarillo-claro {
    background-color: #ffd300;
}

.ogilvy-bg-gris {
    background-color: #727a85;
}

.ogilvy-bg-granate {
    background-color: #d5446a;
}
/*# sourceMappingURL=main.css.map */
.selectWidth {
    width: 100%;
    max-width: 90%;
}

.deleteLabelImage {
    font-size: 15px;
    margin-top: 5%;
    display: inline-block;
}

    .deleteLabelImage label {
        background: none !important;
    }

.posicionamientoDatosPago {
    display: block;
}

.label-error {
    font-size: 20px;
    color: #313337;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 16px;
    margin-left: 18%;
    margin-top: 2%;
    display: inline-block;
}

.detallesConceptoPagoRecurrente {
    font-size: 20px;
    font-weight: bold;
}

.detallesValorPagoRecurrente {
    font-size: 18px;
}

.addMarginTop {
    margin-top: 12%;
}

.addMarginTopReducido {
    margin-top: 2%;
}

.addMarginLeft {
    margin-left: 5px;
}

.addMarginBottom {
    margin-bottom: 100px !important;
}

.addMarginBottomReducido {
    margin-bottom: 7% !important;
}

.centerBlock {
    display: inline-block !important;
}

.ogilvy-body .ogilvy-subtitular-cancelado {
    font-size: 16px;
    color: #7a7a7a;
    text-align: center;
    font-weight: 400;
    padding-top: 40px;
}

.input-pagos {
    background: white;
    width: 90%;
}

.out-padding-margin {
    padding: 0 !important;
    margin: 0 !important;
}

.margin-right-info-pago {
    margin-right: 55px;
}

.padding-info-pago {
    padding-right: 24px !important;
}

.input-no-estilo {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.text-right {
    text-align: right !important;
    margin-right: 15px;
}

.ogilvy-body .ogilvy-titular-reducido {
    font-size: 20px;
    color: #313337;
    /*text-align: center;*/
    text-transform: uppercase;
    font-weight: 700;
}

.ogilvy-body .ogilvy-subtitular-reducido {
    font-size: 16px;
    color: #7a7a7a;
    text-align: center;
    font-weight: 400;
    padding-top: 12px;
}

    .ogilvy-body .ogilvy-subtitular-reducido.ogilvy-subtitular-grande-reducido {
        font-size: 18px;
        text-transform: uppercase;
    }

.inputsMultiDisplay {
    display: inline-block;
    width: 100%;
}

.inputTarjetaMarginMulti {
    margin-right: 28px;
}

.addMarginBottomReducidoMulti {
    margin-bottom: 3% !important;
}

.ogilvy-body .ogilvy-cajainfo2-retry-multi {
    margin-top: 0px;
    z-index: 1;
    width: 100%;
}
/* ----------------- iPads ----------------- */
/* ----------- iPad ----------- */
/* Vertical y Horizontal */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .col-sm-6 {
        width: 75%;
    }

    .col-sm-offset-3 {
        margin-left: 12%;
    }

    .ogilvy-body .ogilvy-importe {
        text-align: right;
    }

    .ogilvy-body .ogilvy-mediodepago {
        height: 80px;
    }

    .ogilvy-body .ogilvy-header {
        height: 80px;
    }

        .ogilvy-body .ogilvy-header .ogilvy-logosuperior {
            padding-top: 5px;
            width: 8%;
        }

    .ogilvy-imagenpago {
        width: 25px;
    }

    .ogilvy-body .ogilvy-mediodepago .ogilvy-iconomediodepago {
        padding-top: 22px;
    }

    .ogilvy-body .ogilvy-mediodepago {
        font-size: 20px;
    }

    .ogilvy-body .ogilvy-header .ogilvy-languajes {
        padding-top: 32px;
        font-size: 20px;
        width: 200px;
    }

    .ogilvy-body .ogilvy-botonrelleno input {
        font-size: 20px;
        height: 80px;
    }

    .ogilvy-body .ogilvy-botonborder input {
        font-size: 20px;
        height: 80px;
    }
}

/* Vertical */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .ogilvy-body .ogilvy-header .ogilvy-logosuperior {
        width: 25%;
    }
}

/* Horizontal */
@media(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* ----------- iPad Pro ----------- */
/* Vertical y Horizontal */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .col-sm-6 {
        width: 75%;
    }

    .col-sm-offset-3 {
        margin-left: 12%;
    }

    .ogilvy-body .ogilvy-importe {
        text-align: right;
    }

    .ogilvy-body .ogilvy-mediodepago {
        height: 80px;
    }

    .ogilvy-body .ogilvy-header {
        height: 80px;
    }

        .ogilvy-body .ogilvy-header .ogilvy-logosuperior {
            padding-top: 10px;
            width: 8%;
        }

    .ogilvy-imagenpago {
        width: 25px;
    }

    .ogilvy-body .ogilvy-mediodepago .ogilvy-iconomediodepago {
        padding-top: 22px;
    }

    .ogilvy-body .ogilvy-mediodepago {
        font-size: 20px;
    }

    .ogilvy-body .ogilvy-header .ogilvy-languajes {
        padding-top: 32px;
        font-size: 20px;
        width: 200px;
    }

    .ogilvy-body .ogilvy-botonrelleno input {
        font-size: 20px;
        height: 80px;
    }

    .ogilvy-body .ogilvy-botonborder input {
        font-size: 20px;
        height: 80px;
    }
}

/* Vertical */
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
}

/* Horizontal */
@media(min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    .ogilvy-body .ogilvy-header {
        height: 100px;
    }

        .ogilvy-body .ogilvy-header .ogilvy-languajes {
            padding-top: 42px;
        }
}
